@tailwind base;
@tailwind components;
@tailwind utilities;

.ficon:hover {
  filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg) brightness(101%)
    contrast(96%);
}

@media screen(lg) {
  .bg-hero {
    width: 2000px;
    height: 250px;
    left: 30%;
    @apply absolute rounded-l-full top-72 bg-softBlue;
  }
  .bg-tabs {
    width: 2000px;
    height: 250px;
    right: 70%;
    @apply absolute rounded-r-full top-72 bg-softBlue;
  }
}
