@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1120px) {
  .bg-hero {
    width: 2000px;
    height: 250px;
    left: 30%;
    @apply absolute rounded-l-full top-72 bg-softBlue;
  }
}
